# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Testing / Cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Database
*.db

# Build
dist/
build/

# Temporary
*.tmp
*.temp

# YOLO
runs/

# Uploaded Files
uploads/*
results/*
!uploads/.gitkeep
!results/.gitkeep